include LICENSE
include README.md
include CHANGELOG.md
include SECURITY.md
recursive-include docs *.md
recursive-include examples *.hy
recursive-include tests *.py
recursive-include scripts *.py
include assets/hython-icon.png
include assets/hython.ico
exclude assets/hython-icon-chroma.png
include build-hython.bat
include build-installer.bat
include publish-pypi.bat
recursive-include installer *.wxs
